*{
    margin: 0;
    padding: 0;
}
header{
    background:#C0C0C0 ;
    height: 55px;

}
h1{
    text-align: center;
    color: indigo;
}
a{
    position: relative;
    left: 1050px;
    font-size: 20px;
}
#sl{
    position: relative;
     left: 450px;
     height: 100px 100px;
     margin: 30px;

    padding: 70px 70px 20px;
    float: left;

}
input{
    position: relative;
    width: 90%;
    padding: 10px 5px 2px;
    
    left: 90px;
    box-sizing: border-box;
    /*border: 1px solid #555;*/
    outline: none;
}

label{
    position: relative;
    right: 50px;
  
     top:20px
}

select{
    position: relative;
    top: 0px;
    width: 90%;
    padding: 10px 5px 2px;
    left: 90px;
}